.HerpTypes {
    display: flex;
    flex-direction: column;
}

.orderType {
    flex-wrap: wrap;

}

.orderBoxMain {
    display: grid;
    grid-template-rows: repeat(3, 30px);
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;
    justify-content: space-between;
    background-color: #2e6313;


}

.btn {

    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 14px;
    padding: 4px;
    border-radius: 10px;
    font-family: Georgia, serif;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background: #339900;
    background: -moz-linear-gradient(left, #339900 0%, #277500 62%, #123500 100%);
    background: -webkit-linear-gradient(left, #339900 0%, #277500 62%, #123500 100%);
    background: linear-gradient(to right, #339900 0%, #277500 62%, #123500 100%);
    border: 4px double rgb(28, 110, 164);
    display: inline-block
}

.btn:hover {
    background: #1C6EA4;
}

.btn:active {
    background: #144E75;

}