body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
  background-color: black;
  background-image: url(https://i.pinimg.com/originals/27/79/82/277982e7161ec72bbc6830b4abce52a7.jpg);
  background-repeat: repeat;
  background-size: auto;

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.saves {
  background-image: url(http://3.bp.blogspot.com/-Hx6GR25jfTc/V2W1i-uDpqI/AAAAAAAAEXM/UPNOefJLrBYWwEx9TPRh6BW4oAy1QlQCwCHM/s1600/reptile-wallpapers-wallpaper-cave.jpg);
  background-image: url(https://i.pinimg.com/originals/27/79/82/277982e7161ec72bbc6830b4abce52a7.jpg);

}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-family: 'Roboto';
  letter-spacing: 1.6px;
  text-shadow: 5px 5px 8px rgb(250, 250, 138);
  


}

Header {
  color: aliceblue;
}

.Header-text-edit {
  color: #f8b248;
  background: rgba(68, 78, 8, 0.767);
  min-height: 9px;
  padding: 10px;
  -webkit-text-stroke: 0.9px rgb(0, 0, 0);
  text-shadow: 2px 2px 13px rgb(181, 252, 88);
}