.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.navbar__logout {
    margin-left: auto;
}

.navbar__item {
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 14px;
    padding: 4px;
    border-radius: 10px;
    font-family: Georgia, serif;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background-image: linear-gradient(to right, rgb(179, 206, 29) 0%, rgb(179, 165, 29) 50%, rgb(107, 122, 17) 100%);
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
    border: 4px double rgb(28, 110, 164);
    display: inline-block
}