.h1, h1 {
    font-size: 2.5rem;
}

fieldset {
    min-width: 0;
    padding: 1rem 0;
    margin: 0;
    border: 0;
}

.form--login {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
}

.form--login > fieldset > input[type="email"] {
    width: 25em;
}

.label--login {
    width: 8rem;
    display: inline-block;
    
}

.form-control {
    background-color: rgba(61, 60, 60, 0.4);
    opacity: 90;
    display: block;
    width: 94%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #dfe6ec;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.container--login {

    text-align: center;
}

.form--login {
    background-image: url(http://3.bp.blogspot.com/-Hx6GR25jfTc/V2W1i-uDpqI/AAAAAAAAEXM/UPNOefJLrBYWwEx9TPRh6BW4oAy1QlQCwCHM/s1600/reptile-wallpapers-wallpaper-cave.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    box-shadow: 5px 5px 15px 5px #000000;
    color: rgb(175, 228, 31);

    border: 4.2px double #7daaca;
    margin: 50px;
    padding: 4px;
    background-color: #224212;
    
}

.button--close {
    position: relative;
    bottom: -2rem;
}

.btn {

    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 14px;
    padding: 4px;
    border-radius: 10px;
    font-family: Georgia, serif;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    background: #339900;
    background: -moz-linear-gradient(left, #339900 0%, #277500 62%, #123500 100%);
    background: -webkit-linear-gradient(left, #339900 0%, #277500 62%, #123500 100%);
    background: linear-gradient(to right, #339900 0%, #277500 62%, #123500 100%);
    border: 4px double rgb(28, 110, 164);
    display: inline-block
}

.login-hug {

    display: block;
    height: calc(1.5em + .75rem + 2px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.register-text {
    color: #5fdf23;
    margin: 9px;
    min-height:9px;
    padding:30px;
    -webkit-text-stroke: 1px black;
    text-shadow: -2px -1px 6px rgb(214, 214, 94);
    
    
}

.register-text2 {
    color: #5fdf23;
    -webkit-text-stroke: 1.03px black;
    text-shadow: -1.8px 1.9px 4px hwb(60 35% 16%);
    padding:160px;
    margin-bottom: 70px;
    
}